/* ========== 01. Reset CSS ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
}


.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* ========== 02. Grid System ========== */
  .row {
    display: flex;
    flex-wrap: wrap; 
  }
  .row > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }

  .row.no-gutters {
    margin-left: 0;
    margin-right: 0;
  }
  .row.no-gutters > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .row.gutters-20 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .row.gutters-20 > [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .row.gutters-10 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row.gutters-10 > [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }

  .col-xl-1 {
    width: 8.333%;
  }
  .col-xl-2 {
    width: 16.666%;
  }
  .col-xl-2_4 {
    width: 20%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333%;
  }
  .col-xl-5 {
    width: 41.6665%;
  }
  .col-xl-6 {
    width: 50%;
  }

/* ============ 03. Icon Block ============ */
  .icon-block {
    height: 100%;
    text-align: center;
    padding: 40px 40px 52px 40px;
    background-color: #2f4771;
  }
  .icon-block__title {
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 18px;
    font-family: 'Libre Baskerville', serif;
  }
  .icon-block__img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-block__desc {
    color: #b2bbca
  }
  .list-icon-block [class*="col-"]:nth-child(3n + 2) .icon-block{
    background-color: #273b61;
  }
  .list-icon-block [class*="col-"]:nth-child(3n) .icon-block{
    background-color: #1e3051;
  }

/*
1 2 3 
4 5 6
7 8 9

2, 5, 8 (Chia 3)
  2 / 3 -> 0 dư 2
  5 / 3 -> 1 dư 2
  8 / 3 -> 2 dư 2

3, 6, 9 (Chia 3)
  3 / 3 -> 1 
  6 / 3 -> 2
  9 / 3 -> 3



*/